* {
    -fx-font-family: "Arial";
}

.spaceLine {
    -fx-stroke: #353535;
}

.label {
    -fx-font-size: 1.2em;
}

.title {
    -fx-font-size: 1.8em;
    -fx-padding: 0 0 0.25em 0;
    -fx-font-weight: bold;
}

.listView {
    -fx-box-border: transparent;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-font-size: 1.2em;
}
